.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
body{
  background-color: #e2f0d9;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 14px;
  letter-spacing: 5px;
  background-color: rgb(194, 249, 191)
}
.navbar-nav  li a:hover {
  color: #2ae327 !important;
}

p{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #163116;
}
.footer-padding {
padding-bottom: 60px;
}

.footer {
position: fixed;
text-align: center;
bottom: 0;
width: 100%;
height: 60px;
background-color: #1dbc1a;
}

.footer p {
margin-top: 25px;
font-size: 15px;
color: #fff;
}
.comp{
  padding: 10px 20px 10px 20px;
  background-color: #1dbc1a;
  display:inline-block;
  color: white;
  font-size: 20px;
  position: fixed;
  bottom: 80px;
  right: 50px;
  text-decoration: none;
}
.comp:hover{
  background-color: #55eb52;
  text-decoration: none;
  color: white;
}
button{
  background-color: #1dbc1a;
  color: white;
  border: none;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  position: fixed;
  right: 15%;
  text-decoration: none;
}
h1{
  font-weight: bold;
}
/* button:hover{
  background-color: #55eb52;
  text-decoration: none;
  color: white;
} */
